.owl-carousel{
  max-width:950px;
}

.owl-item{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.owl-dots button {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  outline: 0;
  display: inline-flex;
  justify-content: center;
}

.owl-dots button span{
  background: #dcdbdb;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: block;
}

.owl-dots button.active span {
  background: #f7ba05;
}


/* -----------------------------------------------
 commom
----------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,body,div,span,h1,h2,p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 500;
  font-family: Raleway, sans-serif;
}

body {
  line-height: 1;
  background-color: #fff;
}

ul {
  margin:0;
  /* padding: 0; */
}

ol,ul,li {
  list-style: none;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: black;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #f7ba05;
  margin-top: 32px;
}

a {
  text-decoration: none;
  color: gray;
}

.f-c{
  display:flex;
  align-items: center;
  justify-content: center;
}

.b-w {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 0 50px 0;
  margin-top: 160px;
}

.section .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 80px;
  min-height: 241px;
}


/* -----------------------------------------------
  seb: structure-element-background
----------------------------------------------- */

.seb {
  position: relative;
  z-index: 2;
}

.seb.white {
  background-color: #fff;
}

.seb.grey {
  background-color: #efefef;
}

.seb:before,.seb:after {
  content: '';
  position: absolute;
  left: 0px;
  height: 100px;
  width: 100%;
  background-size: 100vw 100%;
}

.seb:before {
    display: none;
    top: 0px;
    transform: translateY(-100%);
}

.seb + .seb:before {
    display: block;
}

.seb.grey:before {
    background-image: url('../images/background-top-grey-big.png');
}

.seb:after {
    bottom: 0px;
    transform: translateY(100%);
}

.seb.grey:after {
    background-image: url('../images/background-bottom-grey-big.png');
}


/* -----------------------------------------------
    header
----------------------------------------------- */

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 15px 0;

}

/* ----- header:main  ------*/

header .main{
  width: 100%;
  max-width: 1150px;
  padding: 0 25px 0 20px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.pi-icons{
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.pi-icons .splitter{
    border: 1px solid #f3c332;
    margin: 0 10px;
    height: 30px;
}

.pi-icons .material-icons{
  font-size: 21px;
}

.menu-panel{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
}

@media (min-width: 1150px) {
  header .menu-panel {
    display: flex!important;
  }
}

.menu-panel.show{
  display:block;
}

.menu{
  display: flex;
  margin-right: 25px;
}

.menu .link{
  font-size: 14px;
  margin: 0 15px;
  cursor: pointer;
  color: #2f2f2f;
}

.login-btn {
  padding-right: 8px;
  font-family: ariel;
  border: 1px solid #b7b5b1;
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  max-width: 250px;
  cursor: pointer;
}

.login-btn:hover {
    border: 1px solid black;
}

.menu-btn {
  display: none;
  width: 35px;
  margin: 10px 0px 10px 15px;
  cursor: pointer;
}

.menu-btn .icon{
  font-size: 35px;
  color: #333333;
}

/* ----- header:pi-panel  ------*/

header .pi-panel {
  display: none;
  width: 100%;
  max-width: 1150px;
  padding: 20px 25px;
}

.pi-panel .inner{
  padding:75px 0 50px 0;
  background-color: #fff;
  display: flex;
  overflow: hidden;
}

.pi-panel .left{
  flex:1;
  display: flex;
  flex-direction: column;
}

.pi-panel .name {
  padding: 10px 0 35px 0;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}

.pi-panel .line {
  display: flex;
  /* align-items: center; */
  padding: 12px 0;
}

.pi-panel .line .icon {
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.pi-panel .line .icon.email {
  font-size: 23px;
}

.pi-panel .line .txt{
  margin-left: 10px;
  line-height: 25px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 530px;
}

.pi-panel .address-line{
  display: flex;
  align-items: center;
}

.pi-panel .open-map{
  margin-left: 15px;
  color: #ffc107;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.pi-panel .right{
  width: 340px;
  height: 234px;
  margin-left: 50px;
}

.pi-panel .profile-img{
  height: inherit;
  width: auto;
}


/* ---- header:open --------*/

.overlay {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	background-color: #333;
	opacity: 0.7;
}
.overlay.show {
  display: block;
}



/* -----------------------------------------------
    home
----------------------------------------------- */

.home {
  position: relative;
  height: 80%;
  min-height: 550px;
  display: flex;
  justify-content: center;
}

.home .bg {
  position: absolute;
  left: 0px;
  bottom: 55px;
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url('../images/pixel-background-yellow.png');
}

.home .wrapper{
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
}

.home .img-container{
  position: relative;
  height: 420px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.home .img-container .img{
  height: inherit;
  width: auto;
}

.home .txt-container {
  min-width: 535px;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  margin-top: -35px;
}

.home .subjects {
  display: none;
  margin-top: 40px;
}

.home .subjects.show {
  display: block;
}

.home .subjects .subject {
  display: table;
  padding: 2px 25px 2px 35px;
  background-color: #313131;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  transform: translateX(100px);
  margin-bottom: 10px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 405px;
  text-overflow: ellipsis;
}

.home .subjects .subject {
  animation: on-load-text-appear 600ms forwards;
}

.home .subjects .subject:nth-child(2) {
  animation-delay: 200ms;
}

.home .subjects .subject:nth-child(3) {
  animation-delay: 400ms;
}

.home .subjects .subject:before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 14px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #fff;
}

@keyframes on-load-text-appear {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.subject .inner {
  max-width:300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teacher-name{
  display: flex;
  align-items: baseline;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  line-height: 100px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 405px;
  font-family: 'Pacifico', cursive;
  text-transform: inherit;
}

.slogen{
  padding: 10px 0 20px 0;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.typed-wrapper{
  background-color: #efefef;
  margin-right: 10px;
  padding: 10px;
  height: 35px;
  cursor: pointer;
}

#typed{
  white-space: nowrap;
  overflow: hidden;
  max-width: 305px;
  font-size: 21px;
  text-overflow: ellipsis;
}

.slogen .tutor {
  padding-left: 5px;
  font-weight: 600;
  color: #8e6b00;
}

/* -----------------------------------------------
    about-me
----------------------------------------------- */

.about-me{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  line-height: 35px;
  color: gray;
  padding-top:0;
}

.about-me .txt-wrapper{
  padding: 25px;
  margin: 45px 0 70px 0;
  max-width: 750px;
  text-align:center;
}

.about-me .img-frame{   
  border: 2px solid #F5C534;
  padding: 4%;
  max-width: 375px;
  margin: 0px 25px;
}

.about-me .img-frame img {
  display: block;
  width:100%;
  height: auto;
  margin: 0 auto;
}


/* -------------------------------------------
  expertise
-------------------------------------------- */

.expertise .wrapper{
  margin-top: 90px; 
  display: flex;
  flex-direction: row;
  max-width: 900px;
  width: 100%;
}

.expertise .items {
  width: 50%
}

.expertise .item {
  display: flex;
  background-color: #fff;
  padding: 18px 15px;
  margin: 13px 7px;
  cursor: pointer;
}  

.expertise .item .chk-icon {
  width: 30px;
}

.expertise .item .chk-icon:before {
  content: '';
  display: inline-block;
  position: relative;
  left: -5px;
  top: 8px;
  width: 7px;
  height: 6px;
  margin: 0px 20px 0px 10px;
  background-image: url(check.svg);
  transform: scale(2);
  vertical-align: middle;
} 

.expertise .item .body{
  flex: 1;
  overflow: hidden;
}

.expertise .item .body .title {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  margin-top:5px;
}

.expertise .item .body .title .txt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
  text-transform: uppercase;
  align-items: center;
  font-size: 15px;
}

.expertise .item .body .more{
  display: none;
  margin: 20px 0 5px 0;
  word-break: break-all;
  line-height: 30px;
  font-size: 14px;
  padding: 15px;
  border: 1px solid #f7ba05;
  border-radius: 3px;
}

.expertise .item .tgl-icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
}

.expertise .item .tgl-icon svg {
  width: 24px;
  height: 24px;
  fill: #9e9d9d;
}

.expertise .item.open .tgl-icon svg{
  transform: rotate(180deg); 
}

.expertise .item.open .title{
  margin-top: 0;
}

.expertise .item.open .title .txt{
  word-break: break-all;
  line-height: 30px;
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}

.expertise .img-wrapper {
  padding-top: 75px;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}


/* -------------------------------------------
  testimonials
-------------------------------------------- */

.testimonials {
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.testimonials .section {
  margin-top: 25px;
}

.testimonials .section img{
    width: 165px;
    margin-bottom: 65px;
    margin-top: 50px;
}

.testimonial {
    display: flex;
    border: 1px solid #777777;
    box-shadow: 5px 5px 5px 0px rgb(222, 215, 222);
    align-items: center;
    font-size: 18px;
    padding: 30px;
    margin:0 30px;
    line-height: 50px;
    font-weight: 500;
    max-width: 800px;
    font-family: Raleway, sans-serif;
    margin-bottom: 50px;
}

.referer {  
    margin-bottom: 55px;
    color: #a0a0a0;
}


/* -------------------------------------------
  pricing
-------------------------------------------- */


.pricing .wrapper{
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 5px 0px rgb(222, 215, 222);
  align-items: center;
  font-family: Raleway, sans-serif;
  margin-bottom: 50px;
  max-width: 850px;
  width: 100%;
  height: 265px;
  background: #fff;
  margin-top: 80px;
  transition: all 1s ease-in-out;
  position: relative;
}

.pricing .wrapper.expand{
  height: 300px;
}

.pricing .wrapper .left{
  flex-direction: column;
  width: 365px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.pricing .wrapper .left::after { 
  content: "";
  display: block;
  background: #f7c222;
  position: absolute;
  top: -50px;
  bottom: -12px;
  right: -27px;
  width: 48px;
  z-index: 0;
  transform: rotate(7deg);
}

.pricing .price{ 
  display: flex;
  margin-right: 30px;
}

.pricing .price .num{ 
  font-size: 63px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
}

.pricing .price .currency{
  font-size: 30px;
  align-items: baseline;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.pricing .buy-now{
  border: 2px solid #f7c222;
  padding: 10px;
  border-radius: 10rem;
  margin-top: 25px;
  min-width: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.pricing .buy-now:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f7c222;
  transition: all .3s;
  border-radius: 10rem;
  opacity: 0.3;
}

.pricing .buy-now:hover::before {
  width: 100%;
}

.pricing .wrapper .right{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex:1;
  background: #f7c222;
  padding-left: 35px;
  position: relative;
  overflow: hidden;
}

.pricing .main-panel{
  display: flex;
  flex-direction: column;
}

.pricing .line-inner{
  display:flex;
  cursor: pointer;
}

.pricing .line{ 
  color: #545454;
  display: flex;
  font-size: 24px;
}

.pricing .input-like{ 
  position: relative;
  background: #fff;
  padding: 5px;
  width: 100px;
  text-align: center;
  margin-right: 25px;
  font-weight: 600;
  min-height: 40px;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

.pricing .plus {
  width: 100px;
  height: 24px;
  color: #3c3b3b;
  position: relative;
}

.pricing .plus .icn{
  position: absolute;
  top: 0px;
  left: 45px;
  font-size: 26px;
}

.pricing .line-inner:hover .input-like{
  border: 1px solid #b0b0b0;
} 

.pricing .line-inner:hover .desc{
  color: #fff;
} 

.pricing .line-inner .input-like{
  border: 1px solid #ebebeb;
}

.pricing .desc{ 
  display: flex;
  align-items: center;
  position: relative;
  font-size:19px;
}

.pricing .update-panel{
  position: absolute;
  top:0;
  right: -100%;
  bottom: 0;
  width: 100%;
  background: #f7c222;
  transition: all 0.7s ease-in-out;
  z-index: 1;
}

.pricing .update-panel.open{
  right: 0;
  color: #fff;
}

.pricing .update-panel .header{
  display: flex;
  padding: 20px 8px 15px;
  margin: 0 30px 0 12px;
  border-bottom: 1px solid #fff;
}

.pricing .update-panel .header .txt{
  display:none;
  align-items: center;
  font-size: 17px;
  flex: 1;
  color: #383838;
  text-transform: uppercase;
}

.pricing .update-panel .header .txt.show{
  display:flex;
}

.pricing .update-panel .header .btn{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.pricing .update-panel .body{
  padding: 20px;
}

.pricing .update-panel .body .num-frame{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.pricing .update-panel .body .input-wrapper{
  background-color: #fff;
  background-color: #fff;
  width: 90px;
  height: 40px;
  vertical-align: middle;
  border-radius: 5px;
  margin: 0px 10px;
}

.pricing .update-panel .body .input-wrapper input{
  border: 0px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #75787b;
  outline: none;
  font-size: 23px;
}

.pricing .update-panel .body .num-frame .sign-btn{
  width: 38px;
  height: 38px;
  display: flex;
  color: #6f6f6f;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.pricing .sign-btn.up:after{
  content: '+';
  position: absolute;
  left: 0px;
  height: 30px;
  width: 30px;
  top: -2px;
  left: 9px;
  font-size: 40px;
}

.pricing .sign-btn.down:after{
  content: '-';
  position: absolute;
  left: 0px;
  height: 30px;
  width: 30px;
  top: -8px;
  left: 7px;
  font-size: 45px;
}

.pricing .update-panel .footer{
  display: none;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 15px;
  right: 20px;
  left: 0;
  height: 70px;
}

.pricing .update-panel .footer.show{
  display: flex;
}

.pricing .update-panel .footer .btn-ok{
  border: 1px solid #ffffff;
  padding: 7px 20px;
  margin: 0 15px;
  border-radius: 4px;
  color: #7d7d7d;
  cursor: pointer;
  font-size: 18px;
}

.pricing .update-panel .footer .btn-ok:hover{
  border: 1px solid #5c5c5c;
  color: #5c5c5c;
}

.pricing .btn-open-info {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  padding: 13px;
  border-radius: 100%;
  background: #f9cc45;
  cursor: pointer;
  border: 1px solid #f1f0f0;
}

.pricing .info-panel{
  position: absolute;
  top:0;
  right: -100%;
  bottom: 0;
  width: 100%;
  background: #f7c222;
  transition: all 0.7s ease-in-out;
  z-index: 1;
  display: flex;
}

.pricing .info-panel .btn-close{
  position: absolute;
  right: 12px;
  top: 12px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #f9cc45;
  cursor: pointer;
  color: black;
}

.pricing .info-panel.open{
  right: 0;
  color: #fff;
}

.pricing .note-list {
  flex: 1;
  border: 1px solid #fdfdfd;
  padding-top: 20px;
  margin-top: 33px;
  margin-right: 29px;
  margin-left: 14px;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 40px;
  padding: 15px 15px 15px 30px;
}

.pricing .note-list li{
  list-style: square;
  color: white;
}

/* ------------------------------------------- */
/* study-materials                                       */
/* ------------------------------------------- */

.materials {
  margin-top: 185px;
}

.materials .icons-wrapper{
  display: flex;
  margin-top: 60px;
}

.materials .icons-wrapper .icn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s ease-in-out; 
  border: 1px solid #afafaf;
  box-shadow: 5px 5px 5px 0px rgb(222, 215, 222);
  margin: 0 15px;
  width: 210px;
  height: 235px;
  flex-direction: column;
  cursor: pointer;
}

.materials .icons-wrapper .icn-wrapper:hover { 
  transform: scale(1.05); 
}

.materials .icons-wrapper .icn-wrapper img{
  width: 142px;
  height: 142px;
}

.materials .icons-wrapper .icn-wrapper .title{
  margin-top: 15px;
  min-width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}


/* ------------------------------------------- */
/* footer                                      */
/* ------------------------------------------- */

footer {
  background-color: #403f3f;
}

footer.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 75px 0 35px 0;
  padding: 80px 0;
}

footer h1{
  color: white;
}

footer h2{
  color: #f3c332;
}

footer .contact-icons{
  display: flex;
}

footer .contact-icons .icon{
  position: relative;
}

/* ------------------------------------------- */
/* copyright                                   */
/* ------------------------------------------- */

.copyright p{
    color: #464646;
    margin:30px 0;
    display: flex;
    justify-content: center;
}
  
.tutorna {
  text-decoration:underline;
  color: gray;
  padding: 0 5px;
  cursor: pointer;
}


/* -------------------------------------------
  media query - laptop
-------------------------------------------- */

@media screen and (max-width: 1450px) {

  h1 {
    font-size:30px;
  }

  .home {
    min-height: 400px;
  }

  header .main{
    max-width: 1025px;
  }

  header .pi-panel {
    max-width: 1025px;
  }

  .pi-panel .right{
    width: 295px;
  }

  .home .wrapper{
    width: 1100px;
  }

  .home .img-container{
    height: 360px;
  }

  .home .teacher-name{
    font-size: 47px;
  }

  .home .slogen{
    font-size: 22px;
  }

  .home .txt-container {
    padding-left: 25px;
    min-width: 525px;
  }
  
  .home .subjects .subject {
    line-height: 30px;
    font-size: 14px;
  }

  .about-me .txt-wrapper{
    width:90%;
    margin: 50px 0;
  }

  .expertise .section .wrapper{
    width: 90%;
  }
}


/* -------------------------------------------
  media query - tablet
-------------------------------------------- */

@media screen and (max-width: 1150px) {

  h1 {
    font-size:26px;
  }

  h2 {
    width: 100%;
    line-height: 26px;
    padding: 0 20px;
    text-align: center;
    font-size: 17px;
  }

  .seb:before,.seb:after {
    height: 25px;
  }

  .seb.first{
    margin-top: 100px;
  }
  
  .section{
    margin-top: 85px;
  }

  header {
    padding-top: 15px;
  }

  header .main{
    flex-wrap: wrap;
  }

  header .menu-btn{
    display: inline-block;
  }

  header .menu-panel{
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
  }

  header .menu {
    width: 100%;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    margin-top: 13px;
    padding: 25px 0 0px 5px;
  }

  header .menu .link {
    line-height: 45px;
    margin: 0;
    font-size: 15px;
  }

  header .login-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 20px 0;
  }

  header .login-btn{
    background: #545454;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px 30px;
  }

  .overlay.menu{
   display: block;
  }

  header .pi-panel{
    margin-top: 5px;
    border-top: 1px solid #e0e0e0;
  }

  header .pi-panel .inner{
    padding: 15px 0 0 0;
  }

  header .pi-panel .name{
    font-size: 25px;
    padding-bottom: 25px
  }
  
  .pi-panel .line .txt{
    max-width: initial;
    white-space: initial;
  }

  .pi-icons .material-icons{
    font-size: 20px;
  }

  header .pi-panel .right{
    display: none;
  }

  header .pi-panel .address-line{
    align-items: flex-start;
    flex-direction: column;
  }

  header .pi-panel .address-line .open-map{
    border: 1px solid gray;
    margin: 25px 10px 10px 10px;
    padding: 10px;
    font-size: 13px;
  }

  .home {
    height: 770px;
  }

  .home .bg{
    bottom: 80px;
  }

  .home .wrapper{
    flex-direction: column;
    justify-content: initial;
  }

  .home .img-container{
    position: absolute;
    bottom: 100px;
    width: 100%;
    left: 0;
    height: 365px;
    overflow-x: hidden;
  }

  .home .img-container .img{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 130px);
  }

  .home .txt-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    min-width: initial;
  }

  .home .txt-container .headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .home .teacher-name{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 0 0 25px 0;
    padding: 35px 0 0 0;
  }

 .home .slogen{
   flex-direction: column;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-size: 27px;
  }

  .slogen .typed-wrapper {
    margin-right: 0;
    min-width: 275px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .slogen .tutor{
    font-size: 25px;
    padding-top: 10px;
  }

  .home .slogen .btn-replay.show{
    display: none;
  }

  .home .subjects {
   display: none !important
  }

  .about-me {
    font-size: 16px;
    padding:0;
    margin-top: 15px;
  }

  .about-me .txt-wrapper {
    margin: 20px 0 40px 0;
  }

  .expertise .wrapper {
    max-width: 625px;
  }
  .expertise .items {
    width: 100%
  }

  .expertise .items .item .txt {
    font-size: 14px;
  }

  .expertise .items .item .txt:before {
    left: -15px;
    margin: 0 0 0 10px;
  }

  .expertise .wrapper {
    margin-top: 55px;
    justify-content: center;
    padding: 0 30px;
  }

  .expertise .img-wrapper {
    display: none !important;
  }

  .testimonials{
    margin-top: 25px;
    padding-bottom: 0;
  }

  .testimonials .section {
    margin-top: -50px;
  }
  
  .testimonials .section img{
    display: none;
  }

  .testimonials .testimonial{
    font-size: 17px;
    padding: 15px;
    max-width: 530px;
    line-height: 40px;
  }

  .testimonials .referer {
    font-size: 13px;
    line-height: 27px;
    margin: 0  0 25px 0;
    padding: 0 25px;
  }

  .pricing .wrapper {
    flex-direction: column;
    height: initial;
    max-width: 500px;
    background: #ffc107;
    margin-top: 40px;
    width: 90%;
  }

  .pricing .wrapper .left{
    width: 100%;
    max-width: 300px;
    height: 200px;
  }

  .pricing .wrapper .left::after{
    content:none;
  }

  .pricing .buy-now {
    margin-right: 0;
    border: 2px solid #fdfdfd;
    min-width: 163px;
  }

  .pricing .wrapper .right{
    width: 100%;
    height: initial;
    border: 1px solid white;
    background: #fff;
  }

  .pricing .right .main-panel{
    padding: 35px 0;
  }

  .pricing .line-inner .input-like {
    border: 1px solid #a5a3a3;
  }

  .pricing .plus .icn {
    left: 35px;
  }

  .pricing .wrapper.expand{
    height: initial;
  }

  .pricing .update-panel .header{
    padding: 20px 8px 0px;
    margin: 0 5px 0 10px;
    border-bottom: none;
  }

  .pricing .update-panel.open {
    color: #151515;
  }

  .pricing .note-list {
    border: none;
    margin: 5px 25px 0 30px;
    padding-left: 10px;
  }

  .pricing .note-list li {
    color: #3a3636;
    font-size: 16px;
  }

  .materials {
    margin-top: 60px
  }

  .materials .icons-wrapper {
    margin-top: 65px;
  }

  .materials .icons-wrapper .icn-wrapper{
    border: none;
    box-shadow: none;
  }

  .materials .icons-wrapper .icn-wrapper {
    width: 145px;
    height: 200px;
  }
  
  .materials .icons-wrapper .icn-wrapper img {
    width: 140px;
    height: 140px;
  }
}

/* -------------------------------------------
  media query - mobile
-------------------------------------------- */

@media screen and (max-width: 650px) {
  .materials .icons-wrapper {
    flex-direction: column;
  }

  .materials .icons-wrapper .icn-wrapper {
    height: 185px;
  }
  
  .materials .icons-wrapper .icn-wrapper .title {
    margin-top: 0;
  }
}

/* -------------------------------------------
  media query - mobile
-------------------------------------------- */

@media screen and (max-width: 500px) {
  header .main {
    padding: 0 20px 0 10px;
  }

  header .menu-btn, header .menu-btn:before, header .menu-btn:after{
    width: 27px;
  }

  .menu-btn:before{
    top: -8px;
  }
  
  .menu-btn:after{
    bottom: -8px;
  }
  
  header .pi-panel .inner {
    padding: 10px 0 10px 0;
  }
  
  header .pi-icons .material-icons {
    font-size: 19px;
  }

  header .pi-icons .splitter {
    margin: 0 6px;
  }

  header .pi-panel{
    padding: 25px 20px 10px 20px
  }

  header .pi-panel .line .material-icons{
    font-size: 21px; 
  }

  header .pi-panel .line{
    padding: 10px 0;
  }

  header .pi-panel .line .txt{
    font-size: 14px;
  }

  #typed{
    font-size: 20px;
  }

  .home {
    height: 715px;
  }

  .home .teacher-name {
    font-size:40px;
    margin-bottom:20px;
    padding: 15px 0 0 0;
  }

  .slogen .typed-wrapper {
    min-width: 245px;
  }

  .home .img-container{
    bottom: 80px;
    height: 330px;
  }

  .home .img-container .img{
    left: calc(50% - 115px);
  }

  .expertise .wrapper {
    padding: 0 10px;
  }

  .pricing .wrapper .right{
    padding-left: 25px;
  }

  .pricing .input-like {
    width: 85px;
    margin-right: 10px;
  }

  .pricing .desc {
    font-size: 16px
  }

  .materials{
    margin-top: 30px;
  }

  .materials .icons-wrapper .icn-wrapper {
    flex-direction: column;
    padding-left: 0;
    border:none;
    box-shadow: initial;
  }

  .materials .icons-wrapper{
    margin-top: 45px;
  }
}